/* CAFÉ FREDERIKSBERG STYLESHEET */
/*
    AALBORG UNIVERSITET GRUPPE B267A BAIT INF 2019
*/
/*
A. LOGINPAGE
B. WELCOMEPAGE
C. ADMINPANEL

COLORS
-----------
GULD          #CCB380
SORT-ISH      #101010
MØRKEGRÅ-ISH  #1E1D20
*/

@import url('https://rsms.me/inter/inter.css');

body{
  font-family: 'inter';
}

/*..............................................A LOGINPAGE */

/*Link til forsiden  */
#backtofrontpage {
  text-decoration: none;
  color: white;
}
#backtofrontpage:hover {
  color: grey;
}
/*Centering af content  */
.formcenter {
  text-align: center;
}
/* container   */
.container.loginpage {
  margin-top: 5rem;
  background-color: #101010;
  float: inherit;
}
#loginknap {
  margin-top: 1rem;
}
.logologin {
  text-align: center;
}
.kodeord {
  margin-top: 1rem;
}
#loginknap {
  margin-top: 1rem;
}
.huskmig {
  margin-top: 1rem;
}
/* Farve på input */
input,
select,
textarea {
  color: black;
}

/*..............................................B ADMINPANEL */

h1{
  color: #131313;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.logo{
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 2%;
  width: 10%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 120px 0 0 0;
  width: 18%;
  background-color: #303030;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.nav li a {
  display: block;
  color: #EEEEEE;
  padding: 18px 8px 18px 12%;
  text-decoration: none;
  border-bottom: solid 1px #414141;
  font-weight: 500;
}

/* Change the link color on hover */
.nav li a:hover {
  background-color: #202020;
  color: white;
  transition: 0.1s;
}

.active {
  border-left: 5px solid #3374dd;
  color: #fff;
}

.top_bar{
  width: 82%;
  float: right;
  height: 90px;
  background-color: #fff;
}

.top_bar h1{
  color: #CCB380;
}

.container{
  width: 82%;
  height: 100vh;
  float: right;
  background-color: #F1F1F1;
}

.content{
  width: 95%;
  margin: 25px auto 2% auto;
  height: 90vh;
  overflow: scroll;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 49px -6px rgba(207,207,207,1);
  -moz-box-shadow: 0px 10px 49px -6px rgba(207,207,207,1);
  box-shadow: 0px 10px 49px -6px rgba(207,207,207,1);
  border-radius: 12px;
}

.heading{
  height: 100px;
  border-bottom: solid 1px #DFDFDF;
  line-height: 100px;
}

.heading h1{
  margin: 0;
  padding-left: 25px;
  float: left;
}

.logout{
  float: right;
  padding-right: 25px;
}

.button{
  font-weight: 600;
  padding: 4px 15px;
  background-color: ;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-decoration: none;
  transition: 0.1s;
  color: #000;
}

.green{
  border: 1px solid #0aad36;
}

.red{
  border: 1px solid #dd0d0d;
}

.grey{
  border: 1px solid #ccc;
}

.red:hover{
  background-color: #dd0d0d;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(221,13,13,1);
  -moz-box-shadow: 0px 0px 13px -4px rgba(221,13,13,1);
  box-shadow: 0px 0px 13px -4px rgba(221,13,13,1);
}

.green:hover{
  background-color: #0aad36;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(10,173,54,1);
  -moz-box-shadow: 0px 0px 13px -4px rgba(10,173,54,1);
  box-shadow: 0px 0px 13px -4px rgba(10,173,54,1);
}

.grey:hover{
  background-color: #444444;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(68,68,68,1);
  -moz-box-shadow: 0px 0px 13px -4px rgba(68,68,68,1);
  box-shadow: 0px 0px 13px -4px rgba(68,68,68,1);
}

.task_wrapper{
  padding: 0 25px;
}
.task_heading{
  padding: 5px 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.img_center{
  width: 70%;
  height: 200px;
  margin: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dfdfdf;
  margin-top: 50px;
  padding: 0;
}

/* forms */
textarea{
  resize: none;
  padding: 7px;
  border-radius: 4px;
  resize: none;
  width: 50%;
  height: 180px;
}

.text_input{
  padding: 7px;
  border-radius: 4px;
  resize: none;
  border: 1px solid #a9a9a9;
  width: 50%;
}

.date_input{
  padding: 7px;
  border-radius: 4px;
  resize: none;
  border: 1px solid #a9a9a9;
}

/* restaurant */
table{ width: 100%; text-align: left; }
table th{ padding: 10px 8px 10px 0px; }
table td{ padding: 10px 8px 10px 4px;}
table tr td .menu_item_index{ padding-left: 10px; font-weight: 700;}
table tr td:first-child{ width: 50px; }
table tr .table_buttons{ float: right; width: 178px; }
table tr .table_buttons .button{ float: right; margin-left: 4px; }
tr:nth-child(even) {background-color: #f2f2f2;}

ul.leaders {
    max-width: 80%;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1}
